* {
    border: none;
    border-radius: 0;
    font-family: "Roboto Mono";
    font-weight: 400;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(37, 43, 55, 0.0);
    color: #000000;
}

tooltip {
    background: #1b1e28;
    opacity: 0.85;
    border-radius: 4px;
    border: solid 1px white;
}

tooltip label{
    color: #e6ecff;
}

#workspaces button {
    padding: 5px;
    color: #888888;
    margin-right: 5px;
}

#workspaces button.active {
    color: #000000;
}

#workspaces button:hover {
  background: transparent;
  color: #222222;
}


#custom-power_btn,
#custom-power_profile,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,
#backlight {
    background: rgba(21, 18, 27, 0);
    opacity: 1;
    margin: 0px 8px;
    border: 0px;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#language{
  margin-right: 16px;
  color: #ffffff;
  letter-spacing: 0;
}

