* {
  border: none;
  border-radius: 0;
  font-family: "Monaspace Neon";
  font-size: 13pt;
}

window#waybar {
  background: none;
}

window > box {
  margin: 12px;
  padding: 6px 16px;
  background: rgba(24, 22, 22, 0.5);
  color: rgba(237, 241, 247, 1);
  border-radius: 6px;
}

#clock {
  margin-right: 0;
}

#custom-notification_icon
{
  margin:0 12px;
}

#custom-power_button{
  margin-left: 12px;
}

#custom-mic_icon{
  margin-right: 8px;
}

#custom-activity_icon{
  color: rgba(255, 216, 200, 0.9);
}

#custom-tray_separator {
  color: rgba(197, 201, 197, 0.5);
  margin: 0 12px;
}

#workspaces button {
  color: rgba(197, 201, 197, 0.3);
}

#workspaces button:hover {
  color: rgba(197, 201, 197, 0.8);
  background: none;
}

#workspaces button.active {
  color: rgba(197, 201, 197, 1);
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-width: 80px;
    min-height: 4px;
    border-radius: 5px;
    background-color: rgba(197, 201, 197, 0.3);
}

#pulseaudio-slider highlight {
    min-width: 5px;
    border-radius: 5px;
    background-color: rgba(197, 201, 197, 1);
}
